// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Speechify from "../../../index.js";
import { KeysClient } from "../resources/keys/client/Client.js";
import { RoutesClient } from "../resources/routes/client/Client.js";

export declare namespace HostedApisClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HostedApisClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HostedApisClient.Options>;
    protected _routes: RoutesClient | undefined;
    protected _keys: KeysClient | undefined;

    constructor(options: HostedApisClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get routes(): RoutesClient {
        return (this._routes ??= new RoutesClient(this._options));
    }

    public get keys(): KeysClient {
        return (this._keys ??= new KeysClient(this._options));
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * List the hosted APIs in the caller's workspace, most recently updated
     * first. A hosted API is the API you assemble: a slug that becomes
     * `https://<slug>.<hosted-api domain>`, the routes it answers, and the
     * consumer keys your own callers present.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.ListHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.list({
     *         project_id: "proj_01arz3ndektsv4rrffq69g5fav"
     *     })
     */
    public async list(
        request: Speechify.ListHostedApisRequest = {},
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.Page<Speechify.HostedApi, Speechify.ListHostedApIsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.ListHostedApisRequest,
            ): Promise<core.WithRawResponse<Speechify.ListHostedApIsResponse>> => {
                const { cursor, limit, project_id: projectId } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                    project_id: projectId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        "v1/apis",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Speechify.ListHostedApIsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 402:
                            throw new Speechify.PaymentRequiredError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apis");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.HostedApi, Speechify.ListHostedApIsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.apis ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Create a hosted API. The slug is a DNS label, globally unique on the
     * shared domain (409 `hosted_api_slug_taken`) and immutable afterwards.
     * `auth_mode` names the audience, narrowest first: `owner`, `workspace`
     * (the platform's own credentials), `user_token` (a JWT your backend
     * signs per user), `consumer_key` (a `ck_` key you mint) or `public`
     * (anyone, reads only). A workspace can refuse `public` as policy (403
     * `hosted_api_public_refused`). Reads, runs and writes are each bounded
     * per UTC day (`daily_read_cap`, `daily_run_cap`, `daily_write_cap`),
     * and an API holds only a share of a server's requests open at once, so
     * a slow upstream behind one API cannot take the capacity others need:
     * past it, a request answers 429 `hosted_api_busy` with `Retry-After`.
     *
     * `mcp_enabled: true` also serves the API's routes as an MCP server at
     * `POST <base_url>/mcp`, so an MCP client (Claude Code, Cursor) attaches
     * to one address and gets them as tools, under the same audience, keys
     * and caps. It is refused with `auth_mode: public`. On that face the
     * API's `name` is the server's title and its `description` is the
     * instructions the client's model reads, so describe what the tools are
     * for.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.CreateHostedApiRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.create({
     *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
     *         slug: "acme-news",
     *         name: "Acme News"
     *     })
     */
    public create(
        request: Speechify.CreateHostedApiRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApi> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Speechify.CreateHostedApiRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApi>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/apis",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApi, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/apis");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Retrieve one hosted API.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.GetHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.get({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public get(
        request: Speechify.GetHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApi> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Speechify.GetHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApi>> {
        const { api_id: apiId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApi, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apis/{api_id}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Delete a hosted API; its host stops answering at once.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.DeleteHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.delete({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public delete(
        request: Speechify.DeleteHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Speechify.DeleteHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { api_id: apiId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/apis/{api_id}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Update a hosted API (merge-patch). Switching to `public` is refused
     * while a `run` or `store_write` route exists: an anonymous caller must
     * not start runs that spend the workspace's budget or write to a store,
     * and it is refused outright where the workspace's policy does not allow
     * internet-facing APIs (403 `hosted_api_public_refused`). Switching to a
     * mode that names no caller (`consumer_key`, `public`) is refused while
     * a route binds `{{user.*}}`: only `user_token`, `workspace` and `owner`
     * supply a person. Switching to `public` is also refused while a `tool`
     * route exists (a vendor call spends the workspace's vendor budget) and
     * while `mcp_enabled` is on, and switching the MCP face on is refused on
     * a `public` API (400 `validation_failed` naming `mcp_enabled`).
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.UpdateHostedApiRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.update({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public update(
        request: Speechify.UpdateHostedApiRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApi> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Speechify.UpdateHostedApiRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApi>> {
        const { api_id: apiId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApi, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/apis/{api_id}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * The OpenAPI 3.1 document describing the hosted API's routes - the same
     * document the API serves to its consumers at `/openapi.json`. A `tool`
     * route's request body is the operation's own argument schema. When
     * `mcp_enabled` is on, the document carries an `x-speechify-mcp` object
     * (`url`, `transport: streamable-http`, `description`) naming where an
     * MCP client attaches; the face speaks JSON-RPC, so it is an extension
     * rather than a path.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.GetOpenApiHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.getOpenApi({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public getOpenApi(
        request: Speechify.GetOpenApiHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getOpenApi(request, requestOptions));
    }

    private async __getOpenApi(
        request: Speechify.GetOpenApiHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { api_id: apiId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/openapi`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apis/{api_id}/openapi");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Today's reads, runs and writes against the API's daily caps, with each
     * route's share of the reads and writes. A read is a request a store,
     * file or run_latest route answered from storage; a response served from
     * the cache is not one. A write is a document a `store_write` route
     * landed; a replayed Idempotency-Key is not one. `counters_available` is false where nothing counts (no Redis), so
     * a zero is never mistaken for a quiet day.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.GetUsageHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.getUsage({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public getUsage(
        request: Speechify.GetUsageHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiUsage> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(request, requestOptions));
    }

    private async __getUsage(
        request: Speechify.GetUsageHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiUsage>> {
        const { api_id: apiId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiUsage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apis/{api_id}/usage");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Requests the API served over time: volume split by status, success
     * rate, and p50/p95/p99 latency per time bucket, plus one `top_paths`
     * row per route, busiest first, naming the route by `route_id`. Every
     * request its host answered counts, including refusals such as a
     * missing key (401) or an exhausted rate limit (429); `top_paths` counts
     * only the requests that matched a route, including a route an MCP
     * client called by tool name.
     * The window defaults to the last 7 days and is capped at 30.
     *
     * History starts at `history_starts_at`, the first request in the last
     * 30 days attributed to this API: requests before it cannot be
     * attributed, so a bucket before it is missing data, not a quiet period.
     * When `history_starts_at` is absent, no request to this API has been
     * attributed in the last 30 days, and no bucket is known to be complete.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.GetAnalyticsHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.hostedApis.getAnalytics({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         start: "2026-06-23T00:00:00Z",
     *         end: "2026-06-30T00:00:00Z"
     *     })
     */
    public getAnalytics(
        request: Speechify.GetAnalyticsHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.RequestAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAnalytics(request, requestOptions));
    }

    private async __getAnalytics(
        request: Speechify.GetAnalyticsHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.RequestAnalyticsResponse>> {
        const { api_id: apiId, start, end, granularity } = request;
        const _queryParams: Record<string, unknown> = {
            start: start != null ? start : undefined,
            end: end != null ? end : undefined,
            granularity: granularity != null ? granularity : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/analytics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.RequestAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apis/{api_id}/analytics");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Mint the signing secret end-user tokens are verified against, replacing
     * any previous one at once: every token signed with the old secret stops
     * verifying. The plaintext is in this response and nowhere else; later
     * reads show `user_token_secret_hint`. Your backend signs a JWT with it
     * (HS256) carrying `sub` (the user, at most 256 characters) and `exp`
     * (within 24 hours), and the consumer presents it as
     * `Authorization: Bearer <token>`. Register `user_token_jwks_url`
     * instead to verify with your own keys.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.RotateUserTokenSecretHostedApisRequest} request
     * @param {HostedApisClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.rotateUserTokenSecret({
     *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public rotateUserTokenSecret(
        request: Speechify.RotateUserTokenSecretHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiUserTokenSecret> {
        return core.HttpResponsePromise.fromPromise(this.__rotateUserTokenSecret(request, requestOptions));
    }

    private async __rotateUserTokenSecret(
        request: Speechify.RotateUserTokenSecretHostedApisRequest,
        requestOptions?: HostedApisClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiUserTokenSecret>> {
        const { api_id: apiId, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/rotate-user-token-secret`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiUserTokenSecret, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/apis/{api_id}/rotate-user-token-secret",
        );
    }
}
