// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Speechify from "../../../index.js";

export declare namespace WorkspacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Workspace management - members, invites, ownership, and billing
 * contact. Session-authenticated (console session token); the
 * `X-Tenant-ID` header selects the active workspace for endpoints
 * that read/write workspace-scoped data. A header naming a workspace the
 * caller is not a member of falls back to their default workspace on a
 * read; every write under `/v1/workspaces/current` refuses it with 403, so
 * a change can never land on a workspace the caller did not name.
 */
export class WorkspacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkspacesClient.Options>;

    constructor(options: WorkspacesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * The per-tier entitlements catalog plus the caller's RESOLVED
     * entitlements for the current workspace (tier defaults composed with
     * any per-tenant override). Readable with an API key as well as a
     * console session: it is how an integration learns what it may use
     * before a feature endpoint answers `402`. Branch on
     * `current.voice_cloning`, `current.hosted_apis_access` and
     * `current.waymark_access`, and size traffic from
     * `current.tts_requests_per_second` and `current.tts_concurrency`. The
     * console renders quota affordances and upgrade-card limits from the
     * same single server-authoritative source instead of a hardcoded
     * mirror.
     *
     * @param {WorkspacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.workspaces.getEntitlements()
     */
    public getEntitlements(
        requestOptions?: WorkspacesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.EntitlementsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEntitlements(requestOptions));
    }

    private async __getEntitlements(
        requestOptions?: WorkspacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.EntitlementsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/workspaces/current/entitlements",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.EntitlementsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/workspaces/current/entitlements",
        );
    }
}
