// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Speechify from "../../../index.js";

export declare namespace AudioClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Synthesize speech from text (TTS) and future audio capability
 * verbs (transcription, multi-speaker, dubbing). Capability verbs
 * are stateless: input in, audio out, no entity persists.
 */
export class AudioClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AudioClient.Options>;

    constructor(options: AudioClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Synthesize speech audio from text or SSML. Returns the complete audio
     * file plus billing and speech-mark metadata in a single JSON response.
     * For low-latency playback or long-form text, use POST /v1/audio/stream.
     * Set `output_format` for explicit sample-rate/bitrate control (e.g.
     * `pcm_16000` or `ulaw_8000` for telephony).
     *
     * @param {Speechify.GetSpeechRequest} request
     * @param {AudioClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.audio.speech({
     *         audio_format: "mp3",
     *         input: "Hello! This is the Speechify text-to-speech API.",
     *         model: "simba-3.2",
     *         voice_id: "geffen_32"
     *     })
     */
    public speech(
        request: Speechify.GetSpeechRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.GetSpeechResponse> {
        return core.HttpResponsePromise.fromPromise(this.__speech(request, requestOptions));
    }

    private async __speech(
        request: Speechify.GetSpeechRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.GetSpeechResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-13",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/audio/speech",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.GetSpeechResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/audio/speech");
    }

    /**
     * Synthesize speech and stream the audio back as it is generated, for
     * low-latency playback. Set `output_format` in the body for explicit
     * codec/sample-rate/bitrate control (e.g. `pcm_16000` or `ulaw_8000` for
     * telephony), or fall back to the Accept header for the container; the
     * response is raw audio bytes (HTTP chunked). For Base64-encoded audio
     * with speech-mark metadata in a single JSON response, use
     * POST /v1/audio/speech.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     */
    public stream(
        request: Speechify.StreamAudioRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stream(request, requestOptions));
    }

    private async __stream(
        request: Speechify.StreamAudioRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { Accept: accept, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                Accept: accept,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-13",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/audio/stream",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/audio/stream");
    }

    /**
     * Synthesize speech and stream it back together with word-level speech
     * marks, for text highlighting, captions and audio-text synchronization
     * while the audio is still arriving.
     *
     * The response is a Server-Sent Events stream. Each `speech.chunk` event
     * carries a Base64-encoded run of audio, the speech marks that became
     * final with it, or both - a chunk may carry only one of the two, and the
     * last chunk of a stream is often marks-only. A terminal `speech.done`
     * event ends the stream; there is no `[DONE]` sentinel. Ignore any event
     * type you do not recognize, so that new event types do not break your
     * integration.
     *
     * Speech-mark times are absolute milliseconds from the start of the
     * synthesis, so concatenate the audio chunks into one stream and apply the
     * marks against that single timeline. Which chunk a mark arrives on is a
     * delivery detail and carries no meaning. Times stay correct for every
     * `output_format`: changing the codec or sample rate does not change the
     * duration.
     *
     * Speech marks are produced by the streaming-native models. The default
     * `simba-3.0` and `simba-3.2` both serve this route; the legacy
     * `simba-english` and `simba-multilingual` models return 400
     * `speech_marks_unsupported` here.
     * For Base64-encoded audio and speech marks in one non-streamed JSON
     * response, on any model, use POST /v1/audio/speech.
     */
    public streamWithTimestamps(
        request: Speechify.StreamWithTimestampsAudioRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Speechify.SpeechStreamEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__streamWithTimestamps(request, requestOptions));
    }

    private async __streamWithTimestamps(
        request: Speechify.StreamWithTimestampsAudioRequest,
        requestOptions?: AudioClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Speechify.SpeechStreamEvent>>> {
        const { Accept: accept, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                Accept: accept,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-13",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/audio/stream/with-timestamps",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/audio/stream/with-timestamps",
        );
    }
}
