// This file was auto-generated by Fern from our API Definition.

import type * as Speechify from "../../../../../../index.js";

/**
 * @example
 *     {
 *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
 *         method: "GET",
 *         path: "/leads",
 *         name: "list_leads",
 *         description: "List leads, highest value first.",
 *         resolver: {
 *             type: "store_query",
 *             store_id: "store_01kc4q5t1v3w5x7y9z1a3b5c7d",
 *             collection: "leads",
 *             order_by: {
 *                 field: "value",
 *                 direction: "desc"
 *             }
 *         },
 *         cache_ttl_seconds: 30
 *     }
 *
 * @example
 *     {
 *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
 *         method: "POST",
 *         path: "/issues/open",
 *         name: "list_open_issues",
 *         description: "List the vendor's open security issues, newest first. Pass severity to narrow them.",
 *         resolver: {
 *             type: "tool",
 *             tool_id: "tool_01kc4m8r2t6v9x3z5b7d1f3h5k",
 *             operation: "list_open_issues"
 *         }
 *     }
 */
export interface CreateHostedApiRouteRequest {
    /** Hosted API id (prefixed external id, `api_...`). */
    api_id: string;
    /**
     * A client-generated key (an opaque string, max 255 chars) that makes a
     * side-effect POST safe to retry: the server runs the operation exactly
     * once and replays the first response (its status and body) for 24 hours.
     * Reusing a key with a different request body, or while the first request
     * is still in flight, returns `409 idempotency_conflict`. A replayed
     * response carries the `Idempotent-Replayed: true` header.
     */
    "Idempotency-Key"?: string;
    method: CreateHostedApiRouteRequest.Method;
    /** Lowercase segments of letters, digits, `. _ -` or a `{param}`; `/openapi.json`, `/_runs` and `/mcp` are reserved. */
    path: string;
    /**
     * The route's name, 1-128 letters, digits, spaces, `.`, `_` or `-`.
     * On an API with `mcp_enabled` the MCP tool's name comes from it:
     * each run of other characters (a space included) becomes `_`,
     * leading and trailing `_` are dropped, and the result is cut to 64
     * characters. A route with no name is listed under a name built from
     * its method and path, and a name two routes would share takes `_2`,
     * `_3` in route order; the face's `tools/list` is the authority. Pick
     * a verb-first name a model can choose by.
     */
    name?: string;
    /**
     * What the route does. On an API with `mcp_enabled` it is the MCP
     * tool description a client's model reads to choose the tool, so say
     * what it returns and when to call it; a `tool` route with none falls
     * back to the operation's summary.
     */
    description?: string;
    resolver: Speechify.HostedApiResolver;
    response_schema?: Record<string, unknown>;
    cache_ttl_seconds?: number;
    /** Enabled when omitted. */
    enabled?: boolean;
}

export namespace CreateHostedApiRouteRequest {
    export const Method = {
        Get: "GET",
        Post: "POST",
    } as const;
    export type Method = (typeof Method)[keyof typeof Method];
}
