// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Speechify from "../../../../../index.js";

export declare namespace EndpointsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EndpointsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EndpointsClient.Options>;

    constructor(options: EndpointsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * The caller's workspace's registered webhook endpoints. Cursor-paginated:
     * omit `cursor` for the first page; walk pages while `has_more` is true
     * (default page size 50, max 200). The signing `secret` is never returned
     * here — it is shown only when an endpoint is created or its secret is
     * rotated. Filter by delivery scope with `project_id`.
     *
     * @param {Speechify.webhooks.ListEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.list({
     *         project_id: "proj_01arz3ndektsv4rrffq69g5fav"
     *     })
     */
    public async list(
        request: Speechify.webhooks.ListEndpointsRequest = {},
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.Page<Speechify.WebhookEndpoint, Speechify.ListWebhookEndpointsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.webhooks.ListEndpointsRequest,
            ): Promise<core.WithRawResponse<Speechify.ListWebhookEndpointsResponse>> => {
                const { cursor, limit, project_id: projectId } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                    project_id: projectId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        "v1/webhooks/endpoints",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Speechify.ListWebhookEndpointsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/webhooks/endpoints",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.WebhookEndpoint, Speechify.ListWebhookEndpointsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.endpoints ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Register a webhook endpoint. Speechify mints an HMAC signing secret
     * and returns it in the response `secret` field — exactly once. Store it
     * then; subsequent reads omit it (rotate it with the rotate-secret action
     * if lost). Select events via `enabled_events`: a list of catalog event
     * names or `["*"]` for every event. Optionally scope delivery to one
     * project with `project_id`; omit it for a workspace-wide endpoint that
     * receives every project's events. Limited to 50 endpoints per workspace.
     *
     * @param {Speechify.webhooks.CreateWebhookEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.UnprocessableEntityError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.create({
     *         url: "https://example.com/speechify/webhooks",
     *         enabled_events: ["project.spend_budget.warning"],
     *         description: "Example description."
     *     })
     */
    public create(
        request: Speechify.webhooks.CreateWebhookEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Speechify.webhooks.CreateWebhookEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.WebhookEndpoint>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/webhooks/endpoints",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Speechify.UnprocessableEntityError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/webhooks/endpoints");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Fetch a webhook endpoint by id. The signing secret is never returned.
     *
     * @param {Speechify.webhooks.GetEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.get({
     *         webhook_endpoint_id: "whe_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public get(
        request: Speechify.webhooks.GetEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Speechify.webhooks.GetEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.WebhookEndpoint>> {
        const { webhook_endpoint_id: webhookEndpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/webhooks/endpoints/${core.url.encodePathParam(webhookEndpointId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/webhooks/endpoints/{webhook_endpoint_id}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Delete a webhook endpoint. In-flight deliveries stop; returns 204 on success.
     *
     * @param {Speechify.webhooks.DeleteEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.delete({
     *         webhook_endpoint_id: "whe_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public delete(
        request: Speechify.webhooks.DeleteEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Speechify.webhooks.DeleteEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { webhook_endpoint_id: webhookEndpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/webhooks/endpoints/${core.url.encodePathParam(webhookEndpointId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/webhooks/endpoints/{webhook_endpoint_id}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Partial update; omitted fields are left unchanged. Set `disabled` to pause delivery without deleting the endpoint.
     *
     * @param {Speechify.webhooks.UpdateWebhookEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.update({
     *         webhook_endpoint_id: "whe_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         url: "https://example.com/webhook",
     *         enabled_events: ["example"],
     *         description: "Example description.",
     *         disabled: false
     *     })
     */
    public update(
        request: Speechify.webhooks.UpdateWebhookEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Speechify.webhooks.UpdateWebhookEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.WebhookEndpoint>> {
        const { webhook_endpoint_id: webhookEndpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/webhooks/endpoints/${core.url.encodePathParam(webhookEndpointId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/webhooks/endpoints/{webhook_endpoint_id}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Mint a new HMAC signing secret for the endpoint and return it in the
     * response `secret` field (shown exactly once). The previous secret stops
     * signing immediately, so accept both during your cutover window.
     *
     * @param {Speechify.webhooks.RotateSecretEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.rotateSecret({
     *         webhook_endpoint_id: "whe_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public rotateSecret(
        request: Speechify.webhooks.RotateSecretEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__rotateSecret(request, requestOptions));
    }

    private async __rotateSecret(
        request: Speechify.webhooks.RotateSecretEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.WebhookEndpoint>> {
        const { webhook_endpoint_id: webhookEndpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/webhooks/endpoints/${core.url.encodePathParam(webhookEndpointId)}/rotate-secret`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/webhooks/endpoints/{webhook_endpoint_id}/rotate-secret",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Delivery attempts for one webhook endpoint, newest first. One row per
     * (endpoint, event, resource), updated in place across retries. Each row
     * includes the exact request payload and signed headers Speechify sent
     * (`request_body`, `request_headers`) and the response your server returned
     * (`last_status_code`, `last_response_body`, `last_response_headers`), so
     * you can verify the signature and debug failures. Cursor-paginated: omit
     * `cursor` for the first page; walk pages while `has_more` is true (default
     * page size 50, max 200).
     *
     * An endpoint that was not a target of an event has no row for it: a
     * project-scoped endpoint records nothing for another project's events.
     * An empty list therefore means either nothing matched or nothing
     * happened. To tell them apart, check the project's own activity first:
     * activity there with no delivery here is a defect to report; none there
     * means there was nothing to deliver.
     *
     * @param {Speechify.webhooks.ListDeliveriesEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.webhooks.endpoints.listDeliveries({
     *         webhook_endpoint_id: "whe_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public async listDeliveries(
        request: Speechify.webhooks.ListDeliveriesEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.Page<Speechify.WebhookEndpointDelivery, Speechify.ListWebhookEndpointDeliveriesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.webhooks.ListDeliveriesEndpointsRequest,
            ): Promise<core.WithRawResponse<Speechify.ListWebhookEndpointDeliveriesResponse>> => {
                const { webhook_endpoint_id: webhookEndpointId, cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        `v1/webhooks/endpoints/${core.url.encodePathParam(webhookEndpointId)}/deliveries`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Speechify.ListWebhookEndpointDeliveriesResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/webhooks/endpoints/{webhook_endpoint_id}/deliveries",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.WebhookEndpointDelivery, Speechify.ListWebhookEndpointDeliveriesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.deliveries ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }
}
