// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";

/**
 * @example
 *     {
 *         sample: fs.createReadStream("/path/to/your/file"),
 *         consent_recording: fs.createReadStream("/path/to/your/file"),
 *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
 *         name: "name",
 *         gender: "male",
 *         consent_challenge_id: "consent_challenge_id"
 *     }
 */
export interface CreateVoicesRequest {
    /**
     * A client-generated key (an opaque string, max 255 chars) that makes a
     * side-effect POST safe to retry: the server runs the operation exactly
     * once and replays the first response (its status and body) for 24 hours.
     * Reusing a key with a different request body, or while the first request
     * is still in flight, returns `409 idempotency_conflict`. A replayed
     * response carries the `Idempotent-Replayed: true` header.
     */
    "Idempotency-Key"?: string;
    /** Name of the personal voice */
    name: string;
    /** Native language (locale) of the personal voice (e.g. en-US, es-ES, etc.) */
    locale?: string;
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * not_specified GenderNotSpecified
     */
    gender: CreateVoicesRequest.Gender;
    /** Audio sample of the voice to clone, 10-30 seconds of clean speech. */
    sample: core.file.Uploadable;
    /** Avatar image file */
    avatar?: core.file.Uploadable | undefined;
    /**
     * The `id` of the consent challenge this create consumes, from
     * `POST /v1/voices/consent-challenges`. Single use: once a
     * create has consumed it, whether or not that create
     * succeeded, it cannot be used again.
     */
    consent_challenge_id: string;
    /**
     * Recording of the speaker reading the challenge's `phrase`
     * aloud. This is the consent record for the voice, not a
     * second voice sample: it must be the same person as in
     * `sample`, and it is retained as evidence. 5-30 seconds, at
     * most 25 MB, in any common audio container.
     */
    consent_recording: core.file.Uploadable;
}

export namespace CreateVoicesRequest {
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * not_specified GenderNotSpecified
     */
    export const Gender = {
        Male: "male",
        Female: "female",
        NotSpecified: "not_specified",
    } as const;
    export type Gender = (typeof Gender)[keyof typeof Gender];
}
