// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Speechify from "../../../../../index.js";

export declare namespace RoutesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RoutesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RoutesClient.Options>;

    constructor(options: RoutesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * List a hosted API's routes in creation order.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.ListRoutesRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.listRoutes({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public async listRoutes(
        request: Speechify.hostedApis.ListRoutesRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.Page<Speechify.HostedApiRoute, Speechify.ListHostedApiRoutesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.hostedApis.ListRoutesRoutesRequest,
            ): Promise<core.WithRawResponse<Speechify.ListHostedApiRoutesResponse>> => {
                const { api_id: apiId, cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        `v1/apis/${core.url.encodePathParam(apiId)}/routes`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Speechify.ListHostedApiRoutesResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 402:
                            throw new Speechify.PaymentRequiredError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/apis/{api_id}/routes",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.HostedApiRoute, Speechify.ListHostedApiRoutesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.routes ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Add a route: a method + path answered by a resolver. `store_query`,
     * `store_document` and `store_aggregate` serve a store; `store_write`
     * lands the POST body as a document (`write_mode` create / replace /
     * merge; POST only, never on a public API, counted against
     * `daily_write_cap`, deduplicated on `Idempotency-Key`); `run_latest`
     * serves the newest structured output of a schedule trigger's runs;
     * `run` starts a run through a webhook trigger per request (POST only,
     * never on a public API) and waits up to `wait_seconds` before answering
     * 202 with a handle to poll at `/_runs/{run_id}`; `file` serves one
     * published file, or a whole published tree when the path ends in `*`
     * (`/app/*` with `file_root` and `file_index`); `tool` calls one read
     * operation of an `openapi` tool definition, or one tool of an `mcp`
     * tool definition's server, in the API's project whose `approval` is
     * null or `auto` (POST only, never on a public API, counted against
     * `daily_read_cap`): the consumer's JSON body is the arguments and the
     * connector's answer, after the tool's response mapping, is the
     * response. An `mcp` route pins the tool's input schema as
     * `resolver.input_schema` when it is written.
     * Where-clause values and
     * the document id may be `{{query.x}}`, `{{path.x}}` or `{{body.x}}`
     * templates bound from the consumer's request, or `{{user.x}}` claims of
     * the verified caller on a `user_token`, `workspace` or `owner` API; a
     * clause whose template is absent is skipped. On those three modes a
     * written document is stamped `user_identity` as the caller and only
     * they can replace or merge it. Two bindings are refused at write time:
     * `{{user.*}}` on an API that names no caller, and a clause on
     * `user_identity` bound from a request template, which would let any
     * caller read any user's rows.
     *
     * On an API with `mcp_enabled`, every enabled route except a `file`
     * route is also an MCP tool. The tool's name comes from the route's
     * `name`: every run of characters outside letters, digits, `_` and `-`
     * becomes `_`, leading and trailing `_` are dropped, and the result is
     * cut to 64 characters. A route with no name is listed under a name
     * built from its method and path (`post_issues_open`), and a name two
     * routes would share takes `_2`, `_3` in route order, so read the names
     * from the face's `tools/list` rather than deriving them. The route's
     * `description` is what the client's model reads to choose the tool,
     * falling back to the operation's summary on a `tool` route. Name and
     * describe a route for that reader.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.CreateHostedApiRouteRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.createRoute({
     *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
     *         method: "GET",
     *         path: "/leads",
     *         name: "list_leads",
     *         description: "List leads, highest value first.",
     *         resolver: {
     *             type: "store_query",
     *             store_id: "store_01kc4q5t1v3w5x7y9z1a3b5c7d",
     *             collection: "leads",
     *             order_by: {
     *                 field: "value",
     *                 direction: "desc"
     *             }
     *         },
     *         cache_ttl_seconds: 30
     *     })
     *
     * @example
     *     await client.hostedApis.routes.createRoute({
     *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
     *         method: "POST",
     *         path: "/issues/open",
     *         name: "list_open_issues",
     *         description: "List the vendor's open security issues, newest first. Pass severity to narrow them.",
     *         resolver: {
     *             type: "tool",
     *             tool_id: "tool_01kc4m8r2t6v9x3z5b7d1f3h5k",
     *             operation: "list_open_issues"
     *         }
     *     })
     */
    public createRoute(
        request: Speechify.hostedApis.CreateHostedApiRouteRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiRoute> {
        return core.HttpResponsePromise.fromPromise(this.__createRoute(request, requestOptions));
    }

    private async __createRoute(
        request: Speechify.hostedApis.CreateHostedApiRouteRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiRoute>> {
        const { api_id: apiId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/routes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/apis/{api_id}/routes");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Publish a connector's operations onto the API in one call: one `tool`
     * route per operation of an `openapi` tool definition, or per tool its
     * `mcp` server lists, named `<name_prefix>__<operation>` at
     * `<path_prefix>/<operation>`, so two connectors' tools stay apart on
     * the MCP face and inside its 64-character tool names.
     *
     * Send `dry_run: true` first. The answer lists every operation with
     * its effective `action_class` and `approval`, whether a route can serve
     * it, and the `action` a mount takes: `create`, `update` (an MCP tool
     * whose input schema changed since its route was written; `changes`
     * names what), `unchanged`, `skip` (with the `reason`: not selected, not
     * a read, not auto-approved, a name or path already taken, or the route
     * cap) or `stale` (a route whose operation the connector no longer
     * offers, or can no longer serve; it is reported and never deleted,
     * since a consumer may still call it). The same call without `dry_run`
     * writes every create and update in one transaction and returns the
     * written `route` on each.
     *
     * Every answer carries a `plan_digest`. Send the preview's digest with
     * the apply: the apply plans again inside its transaction and writes
     * only when that plan still has the digest, so a tool the server changed
     * or a route edited after you reviewed is never written unseen. When it
     * differs the apply writes nothing and answers 409 `mount_plan_changed`
     * with the current plan, as a dry run answers it, in
     * `error.details.plan`; review that and apply again with its digest,
     * under a new `Idempotency-Key` if you sent one, since a key replays its
     * first answer, this 409 included. The digest covers every operation the
     * connector offers and every route the API holds for it whatever
     * `operations` selects, so a preview of everything and an apply of a
     * selection share one. An apply without it writes whatever the mount
     * plans at that moment.
     *
     * Mounting again is the refresh. Every route the API holds for the
     * connector is compared with what it offers now, whatever its name,
     * path or the selection, so an upstream change is seen as a diff before
     * anyone's client sees it. `operations` selects what to create; omit it
     * to create a route for every operation a route can serve. A route an
     * owner renamed or moved keeps its name and path on refresh.
     *
     * The route write's rules apply to every operation: the connector must
     * be in the API's project (409 `cross_project_reference`), an MCP server
     * must be reachable with its credential to be listed (400
     * `validation_failed` on `tool_id` with the server's reason), and a
     * public API mounts nothing. An API holds at most 200 routes; a mount
     * that would pass the cap skips what does not fit. Without a
     * `plan_digest`, a route changed while the mount was being planned
     * answers 409 `api_route_conflict`; mount again.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.MountHostedApiRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.mountRoutes({
     *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
     *         tool_id: "tool_01kc4n9s3v7w0y4a6c8e2g4j6m",
     *         name_prefix: "linear",
     *         dry_run: true
     *     })
     *
     * @example
     *     await client.hostedApis.routes.mountRoutes({
     *         api_id: "api_01kc4q3r9s6t8v0w2x4y6z8a0b",
     *         tool_id: "tool_01kc4n9s3v7w0y4a6c8e2g4j6m",
     *         name_prefix: "linear",
     *         operations: ["list_issues"],
     *         plan_digest: "ae5c24076805cfbad91442ca1ada6e79c2c246028b81e110ae9e4eab1f82dbce"
     *     })
     */
    public mountRoutes(
        request: Speechify.hostedApis.MountHostedApiRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiMount> {
        return core.HttpResponsePromise.fromPromise(this.__mountRoutes(request, requestOptions));
    }

    private async __mountRoutes(
        request: Speechify.hostedApis.MountHostedApiRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiMount>> {
        const { api_id: apiId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/routes/mount`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiMount, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/apis/{api_id}/routes/mount",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Retrieve one route.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.GetRouteRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.getRoute({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         route_id: "route_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public getRoute(
        request: Speechify.hostedApis.GetRouteRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiRoute> {
        return core.HttpResponsePromise.fromPromise(this.__getRoute(request, requestOptions));
    }

    private async __getRoute(
        request: Speechify.hostedApis.GetRouteRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiRoute>> {
        const { api_id: apiId, route_id: routeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/apis/{api_id}/routes/{route_id}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Delete a route.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.DeleteRouteRoutesRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.deleteRoute({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         route_id: "route_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public deleteRoute(
        request: Speechify.hostedApis.DeleteRouteRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteRoute(request, requestOptions));
    }

    private async __deleteRoute(
        request: Speechify.hostedApis.DeleteRouteRoutesRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { api_id: apiId, route_id: routeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/apis/{api_id}/routes/{route_id}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Update a route (merge-patch); a changed method or resolver is re-validated.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.UpdateHostedApiRouteRequest} request
     * @param {RoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.routes.updateRoute({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         route_id: "route_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public updateRoute(
        request: Speechify.hostedApis.UpdateHostedApiRouteRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiRoute> {
        return core.HttpResponsePromise.fromPromise(this.__updateRoute(request, requestOptions));
    }

    private async __updateRoute(
        request: Speechify.hostedApis.UpdateHostedApiRouteRequest,
        requestOptions?: RoutesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiRoute>> {
        const { api_id: apiId, route_id: routeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/routes/${core.url.encodePathParam(routeId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiRoute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/apis/{api_id}/routes/{route_id}",
        );
    }
}
