// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Speechify from "../../../../../index.js";

export declare namespace KeysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KeysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<KeysClient.Options>;

    constructor(options: KeysClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * List a hosted API's consumer keys, newest first, revoked ones included.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.ListKeysKeysRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.keys.listKeys({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public async listKeys(
        request: Speechify.hostedApis.ListKeysKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.Page<Speechify.HostedApiKey, Speechify.ListHostedApiKeysResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.hostedApis.ListKeysKeysRequest,
            ): Promise<core.WithRawResponse<Speechify.ListHostedApiKeysResponse>> => {
                const { api_id: apiId, cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        `v1/apis/${core.url.encodePathParam(apiId)}/keys`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Speechify.ListHostedApiKeysResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 402:
                            throw new Speechify.PaymentRequiredError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v1/apis/{api_id}/keys",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.HostedApiKey, Speechify.ListHostedApiKeysResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.keys ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Mint a consumer key (`ck_...`) for the API's own callers. The plaintext
     * `secret` is present in this response only; every later read shows the
     * masked `key_hint`.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.CreateHostedApiKeyRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.keys.createKey({
     *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         name: "name"
     *     })
     */
    public createKey(
        request: Speechify.hostedApis.CreateHostedApiKeyRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiKey> {
        return core.HttpResponsePromise.fromPromise(this.__createKey(request, requestOptions));
    }

    private async __createKey(
        request: Speechify.hostedApis.CreateHostedApiKeyRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiKey>> {
        const { api_id: apiId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/keys`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiKey, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/apis/{api_id}/keys");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Revoke a consumer key; idempotent. Requests carrying it are refused from now on.
     * Dark launch: requires the `hosted_apis_access` entitlement (402 `hosted_apis_not_in_plan` otherwise).
     *
     * @param {Speechify.hostedApis.RevokeKeyKeysRequest} request
     * @param {KeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.hostedApis.keys.revokeKey({
     *         api_id: "api_01jqr8x9zg5k2m3n4p5q6r7s8t",
     *         consumer_key_id: "ckey_01jqr8x9zg5k2m3n4p5q6r7s8t"
     *     })
     */
    public revokeKey(
        request: Speechify.hostedApis.RevokeKeyKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.HostedApiKey> {
        return core.HttpResponsePromise.fromPromise(this.__revokeKey(request, requestOptions));
    }

    private async __revokeKey(
        request: Speechify.hostedApis.RevokeKeyKeysRequest,
        requestOptions?: KeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.HostedApiKey>> {
        const { api_id: apiId, consumer_key_id: consumerKeyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-30",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/apis/${core.url.encodePathParam(apiId)}/keys/${core.url.encodePathParam(consumerKeyId)}/revoke`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.HostedApiKey, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/apis/{api_id}/keys/{consumer_key_id}/revoke",
        );
    }
}
